/*  Estilo para tablet */

@media only screen and (min-width: 788px) and (max-width: 979px) {
  .qualidade::after {
    right: 66px;
    left: 68px;
  }
}

/*  Estilo para mobile */
@media only screen and (max-width: 787px) {
  /* Header */

  .header {
    position: relative;
    padding-bottom: 0;
  }

  .header img {
    margin: 0 auto 20px auto;
  }

  .header_menu {
    text-align: center;
  }

  .header_menu ul li {
    margin: 5px;
  }

  .header_menu ul li a {
    border: 4px solid black;
    width: 136px;
    display: block;
    float: left;
  }

  .header_menu ul li a:hover {
    border-color: white;
  }

  /* Introdução */

  .introducao h1 {
    font-size: 36px;
  }

  .introducao {
    margin-top: 0;
    padding-top: 20px;
    background: url("../img/bg-mobile.jpg") no-repeat center;
  }

  .qualidade::after {
    display: none;
    margin: 0 auto;
  }

  .call-to-action {
    margin-top: -50px;
  }
}
