/* Estilos gerais */

.interna_sobre {
  width: 100%;
  background: url("../img/bg-sobre.jpg") no-repeat center;
  background-size: cover;
  margin: auto;
  padding: 40px;
}

.missao_sobre {
  padding-top: 60px;
}

.missao_sobre .subtitulo-interno {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.missao_sobre .subtitulo-interno::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: black;
  margin-top: 10px;
}

.foto-equipe {
  padding-top: 40px;
}

.missao_sobre p {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 1em;
  padding-right: 60px;
}

.introducao_sobre h1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}
