/* Estilos gerais */

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 20px;
}

/* Fonts */
h1,
h3,
.introducao blockquote cite,
.btn,
.subtitulo {
  text-transform: uppercase;
}

.subtitulo {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: black;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.subtitulo::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: black;
  margin: 8px auto 10px auto;
}

.btn {
  border: 3px solid #fec63e;
  padding: 10px 30px;
  color: #fec63e;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.btn:hover {
  border: 3px solid #fff;

  color: #fff;
}

.btn-preto {
  color: #fec63e;
  border-color: #fec63e;
}

.btn-preto:hover {
  border: 3px solid black;

  color: black;
}

/* Header */

.header {
  width: 100%;
  background: #fec63e;
  padding: 15px 0;
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 25px;
}

.header_menu ul li .menu_selecionado {
  color: white;
}

.header_menu ul li a {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
}

.header_menu ul li a:hover {
  color: white;
}

/* Introdução */

.introducao {
  width: 100%;
  height: 380px;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  color: white;
  padding-top: 80px;
}

.introducao h1 {
  font-size: 48px;
  font-weight: bold;
}

.quote-externo {
  max-width: 360px;
  margin: auto;
  margin-bottom: 40px;
}

.quote-externo p {
  font-style: italic;
}

.quote-externo p::before,
.quote-externo p::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: white;
  margin: 10px auto 10px auto;
}

.quote-externo cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.introducao-interna h1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin: auto 0;
  text-align: center;
}

.introducao-interna p {
  color: white;
  margin: auto 0;
  text-align: center;
}

.introducao-interna h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: white;
  margin: 8px auto 10px auto;
}

.introducao-interna {
  margin: auto;
}

/* Produtos */

.produtos {
  padding: 60px 0;
}

.produtos_lista li {
  background: #fec63e;
  text-align: center;
}

.produtos_icone {
  background: black;
  padding: 20px;
}

.produtos_lista h3 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 25px;
}

.produtos_lista h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: black;
  margin: 5px auto 5px auto;
}

.produtos_lista p {
  padding: 10px 20px;
}

.call-to-action {
  text-align: center;
  clear: both;
  padding-top: 40px;
  margin-bottom: 60px;
}

.call-to-action p {
  margin-bottom: 20px;
}

/* Portfólios */

.portfolio {
  width: 100%;
  background: #000;
  margin-top: 20px;
}

.portfolio .subtitulo {
  color: #fec63e;
}

.portfolio .subtitulo::after {
  background: #fec63e;
}

.portfolio_lista li:last-child {
  margin-top: 20px;
}

.portfolio .call-to-action p {
  color: #fff;
}

/* Qualidade */

.qualidade {
  position: relative;
}

.qualidade_lista {
  padding-top: 20px;
}

.qualidade::after {
  content: "";
  width: 634px;
  height: 83px;
  display: block;
  background: url("../img/linhas.svg") no-repeat center;
  position: absolute;
  top: 180px;
  right: 164px;
  left: 164px;
  z-index: -1;
}

.qualidade img {
  margin: auto;
  display: block;
}

.qualidade_lista li {
  text-align: center;
  padding: 0 0 40px;
}

.qualidade_lista h3 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 25px;
}

.qualidade_lista h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: black;
  margin: 5px auto 5px auto;
}

/*  Quebra  */

.quebra {
  width: 100%;
  height: 220px;
  background: url(../img/bg-footer.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  color: white;
  padding-top: 40px;
}

/*  Footer  */

.footer {
  width: 100%;
  padding: 20px 0;
  display: block;
  background: black;
  color: white;
}

.footer h3 {
  font-size: 18px;
  line-height: 25px;
  color: #fec63e;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fec63e;
  margin: 6px 0 12px 0;
}

.footer p {
  line-height: 20px;
}

.footer_historia {
  padding-right: 40px;
}

.footer_redes ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer_redes ul li a {
  border: 3px solid #fec63e;
  display: block;
  width: 40px;
  padding-right: 8px;
  padding-left: 1px;
  margin: auto;
}

.copy {
  width: 100%;
  background: #fec63e;
  padding: 20px 0;
}

.contato_mapa {
  padding-bottom: 60px;
}

.contato_mapa img {
  width: 100%;
  display: block;
}
